@import "compass";
@import "compass/css3";


/// Linear Interpolation
@function lerp($a, $b, $p) {
	@return ($b - $a) * $p + $a;
}

@function lerp-point($a, $b, $p) {
	@return lerp(nth($a, 1), nth($b, 1), $p), lerp(nth($a, 2), nth($b, 2), $p);
}

@function bezier-reduce($points, $p) {
	@while length($points) > 1 {
		$tmp: ();

		@for $i from 1 to length($points) {
			$tmp: append($tmp, lerp-point(nth($points, $i), nth($point $i + 1), $p));
		}

		$points: $tmp;
	}
	@return nth($points, 1);
}

@mixin draw-system($conf) {

}

@mixin cubic-bezier($x1, $y1, $x2, $y2, $options: ()) {
	$options: map-merge(
		(
			'control-points': true,
			'informations': true,
			'size': 300px,
			'color': #999,
			'points': ($x1, $y1, $x2, $y2),
			'detail': 30
		),
		$options
	);
	@include draw-system($options);
}

